button {
  background-color: teal;
  border-radius: 5px;
  margin: 10px;
}

ul {
  margin-bottom: 5px;
  list-style: none;
}

p {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
}

li {
  display: flex;
  border: 1px solid teal;
  margin-bottom: 5px;
  align-items: center;
}

li input:checked ~ .p {
  text-decoration: line-through red;
}

/* label {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
} */

.checkbox {
  width: 0;
  height: 0;
  position: absolute;
}

.custom__radio {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid#333;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  display: block;
}

.custom__radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: teal;
  opacity: 0;
}
.checkbox:checked + .custom__radio::before {
  opacity: 1;
}

/* li input [type="checkbox"]:checked {
} */
